{% extends 'base.html.twig' %}

{% block title %}Erreur 401 - Non authentifié{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <div class="error-page">
        <h1>401</h1>
        <h2>Vous devez être connecté pour accéder à cette page.</h2>
        <a href="{{ path('app_login') }}" class="btn">Se connecter</a>
    </div>
{% endblock %}
